<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.AuthMapper">

	<!-- User의 권한 불러오기 -->
	<select id="loadUserAuthorities" parameterType="String" resultType="com.lcomputerstudy.example.domain.User">
		SELECT		u_auth
		FROM		lc_auth
		WHERE		u_id = #{username} 
	</select>

	<!-- addRoleAdmin -->
	<insert id="addRoleAdmin" parameterType="String">
		INSERT INTO		lc_auth		(u_id, u_auth)
		VALUES			(#{username}, 'ROLE_ADMIN')
	</insert>
	
	<!-- removeRoleAdmin -->
	<delete id="removeRoleAdmin" parameterType="String">
		DELETE FROM		lc_auth
		WHERE			u_id = #{username}
		AND				u_auth = 'ROLE_ADMIN'
	</delete>


</mapper>