<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.UserMapper">
	<!-- 권한 읽기 -->
	<select id="readAuthorities" parameterType="String" resultType="org.springframework.security.core.authority.SimpleGrantedAuthority">
		SELECT		u_auth
		FROM		lc_auth
		WHERE		1=1
		AND			u_id = #{username}
	</select>
		
	<!-- 회원 불러오기 -->
	<select id="readUser" parameterType="String" resultType="User">
		SELECT		u_id							as username,
					u_password						as password,
					u_name							as uName,
					u_isAccountNonExpired			as isAccountNonExpired,
					u_isAccountNonLocked			as isAccountNonLocked,
					u_isCredentialNonExpired		as isCredentialsNonExpired,
					u_isEnabled						as isEnabled
		
		FROM		lc_user
		WHERE		1=1
		AND			u_id = #{username}
	</select>
	
	<!-- 회원 등록 -->
	<insert id="createUser" parameterType="User">
		INSERT INTO lc_user (
			u_id,
			u_password,
			u_name,
			u_tel,
			u_age,
			u_isAccountNonExpired,
			u_isAccountNonLocked,
			u_isCredentialNonExpired,
			u_isEnabled
		) VALUES (
			#{username},
			#{password},
			#{uName},
			#{uTel},
			#{uAge},
			#{isAccountNonExpired},
			#{isAccountNonLocked},
			#{isCredentialsNonExpired},
			#{isEnabled}
		)
	
	</insert>
	
	<!-- 유저 권한 추가 -->
	<insert id="createAuthority" parameterType="org.springframework.security.core.GrantedAuthority">
		INSERT INTO lc_auth (
			u_id,
			u_auth
		) VALUES
		  <foreach item="authority" index="index" collection="authorities" separator=",">
		  	(#{username}, #{authority.role})
		  </foreach>
		  ON DUPLICATE KEY
		  UPDATE
		  	u_id = #{username}
	</insert>
	
	<!-- 유저 리스트 불러오기 -->
	<select id="selectUserList" resultType="User">
		SELECT		u_idx						as	uIdx,
					u_id						as	username,
					u_name						as	uName	 
						
		FROM 		lc_user
	</select>
	
	<!-- 유저 상세 정보 보기  -->
	<select id="showUserDetail" parameterType="int" resultType="User">
		SELECT 		u_idx		as 	uIdx,
					u_id		as 	username,
					u_name		as 	uName,
					u_datetime	as 	uDateTime,
					u_tel 		as 	uTel,
					u_age		as 	uAge
					
		FROM 		lc_user
		WHERE 		u_idx = #{uIdx}
	</select>
			
	<!-- 유저 삭제 -->
	<delete id="deleteUser" parameterType="int">
		DELETE
		FROM		lc_user
		WHERE		u_idx = #{uIdx}
	</delete>
	
	<!-- 유저 수정전 보여주기 -->
	<select id="beforeUserUpdate" parameterType="int" resultType="User">
		SELECT 		u_idx		as  uIdx,
					u_id		as 	username,
					u_password	as 	password,
					u_name		as 	uName,
			<!--  	SUBSTRING(u_tel,1,3)	as 	uTelArr0,
					SUBSTRING(u_tel,6,4)	as 	uTelArr1,
					SUBSTRING(u_tel,11,4)	as 	uTelArr2,	-->
					u_tel		as	uTel,
					u_age		as 	uAge
					
		FROM 		lc_user
		WHERE 		u_idx = #{uIdx}
	</select>
	
	<!-- 유저 수정 -->
	<update id="updateUser" parameterType="User">
		UPDATE		lc_user
		SET			u_id = #{username},
					u_password = #{password},
					u_name = #{uName},
					u_tel = #{uTel},
					u_age = #{uAge}
	
		WHERE 		u_idx = #{uIdx}
	</update>
</mapper>
